.app__wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.status {
  background-color: #c3bdbd;
  display: inline-block;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
}
.status option {
  background-color: black;
  color: white;
}
.container {
  background-color: #b7b7c1;
  padding: 20px;
  border-radius: 6px;
}
.container__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  font-weight: 700;
  font-size: large;
  background-color: #a6a4a4;
  border-radius: 6px;
}
